.star {
  color: gray;
}

.starRed {
  color: red;
}

.stars ul {
  display: inline-block;
}

.stars ul li {
  display: inline-block;
}

.stars {
  display: inline-block;
  margin-bottom: 5px;
}

.commentFormBody {
  width: 90%;
  border: 1px solid gray;
  background: black;
  color: gray;
  margin-bottom: 5px;
}

.commentForm {
  margin-top: 30px;
  height: 240px;
}

.commentButton {
  margin: 0 auto;
  cursor: pointer;
}

.commentFormSection{
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 40%;
}

.commentForm > label {
  display: block;
}
