.detailsPopover {
  width: 100%;
  height: 300px;
  position: relative;
  font-size: 12px;
  font-family: 'Raleway', sans-serif !IMPORTANT;
  overflow: hidden !IMPORTANT;
}

.detailsBackgrounGradient {
  position: absolute;
  background: -moz-linear-gradient(left, rgba(0,0,0,1) 43%, rgba(0,0,0,0.65) 53%, rgba(0,0,0,0.56) 63%, rgba(0,0,0,0) 100%);
  background: -webkit-linear-gradient(left, rgba(0,0,0,1) 43%,rgba(0,0,0,0.65) 53%,rgba(0,0,0,0.56) 63%,rgba(0,0,0,0) 100%);
  background: linear-gradient(to right, rgba(0,0,0,1) 43%,rgba(0,0,0,0.65) 53%,rgba(0,0,0,0.56) 63%,rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 );

  position:absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
}

.detailsBackgroundImg{
  position:absolute;
  z-index: -2;
  right: 0;
  top: -35%;
  width: 60%;
}

.viewCount {
  margin: 0 10px;
}

.detailsPopoverButtonsPane {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

.detailsPopover h1 {
  margin: 10px 20px;
  font-size: 20px;
}

.detailsPopover h2 {
  margin: 5px 40px;
  font-size: 15px;
  color: gray;
}

.details {
  width: 60%;
  height: 100%;
  display: inline-table;
}

.reviewsDisplay{
  height: 200px;
  width: 100%;
}

.reviewItem {
  float: left;
  margin: 10px;
}

.reviewItem > p {
  max-width: 150px;
}

.overview p {
  margin-left: 10px;
  max-width: 40%;
}
