.nav {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: black;
  position: absolute;
  top: 0px;
  z-index: 1;
  opacity: 0.7;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}

.navbarBtnPane {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.sessionBtn {
  display: inline-block;
  margin: 5px;
}

.sessionBtn:hover > button {
  opacity: 0.6;
}

.sessionBtn > button > img {
  margin: 15px;
  height: 60px;
}

.sessionBtn > button {
  margin: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
}

.sessionBtn > button:focus {
  outline:0;
}

.sessionInputFields {
  margin-left: 21px;
}

.searchField{
  height: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  position:relative;
}

.searchIcon{
  position: absolute;
  right: 5px;
  top: 8px;
  width: 32px;
}
