.userProfile{
  margin-top: 100px;
  text-align: center;
  justify-content: center;
}

.userProfile h1 {
  font-size: 30px;
  padding: 20px;
}

.userProfile label {
  margin: 10px;
}

.userProfile button, .userProfile a {
  background: transparent;
  cursor: pointer;
  opacity: 0.7;
  text-align: center;
  width: 30%;
}

.userField {
  border: none;
  padding: 0;
  width: 50%;
}

.profileSlice input {
  border-bottom: 1px solid;
  margin: 0 10px;
}

.userProfile button:hover, .userProfile a:hover{
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.profileSlice > * {
  background: transparent;
  color: inherit;
}

.profileSlice {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
}

.userImage > img {
  height: 128px;
}

.selectableImage {
  height: 80px;
  cursor: pointer;
}
.imageContainer{
  float: left;
  width: 80px;
  display: flex;
  justify-content: center;
}

.userImage:hover > button > img{
  opacity: 0.8;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.userImage {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.changeImageBtn {
  border-radius: 50%;
  border: none;
  opacity: 0.5;
  right: 0;
  bottom: 0;
  position: absolute;
  cursor: pointer;
}

.changeImageBtn img {
  height: 25px;
  opacity: 0.3;
  border-radius: 50%;
  background-color: white;
}

.changeImageBtn:focus {
  outline: 0;
}

.userFields {
  display: inline-block;
  margin-top: 60px;
  width: 40%;
}

.userImagePopover{
  max-width: 320px;
}

.userReviews{
  padding-top: 70px;
  width: 70%;
  margin: 0 auto;
}

.userReviews h2{
  font-size: 20px;
}

.userReviews h3{
  font-weight: 15px;
  margin: 5px;
}

.userReviews .review {
  margin: 30px;
}
