.videoTitle {
  margin-top: 10%;
}

.playLink{
  width: 20%;
  margin: 0 auto;
}

.playLinkImg {
  width: 100%;
  opacity: 0.3;
}

.playLinkImg:hover {
  opacity: 0.8;
  transition: all .3s ease-in-out;
}

.videoHoverCover button {
  cursor: pointer;
  border: 0;
  border-radius: 20%;
}

.videoHoverCover button:focus {
  outline: 0;
}

.detailsButton > img {
  width: 10%;
  margin: 0 auto;
}

.videoHoverCover button > img {
  transition: all .3s ease-in-out;
}

.videoHoverCover button:hover > img {
  transform: scale(1.2);
  opacity: 1;
}

.videoHoverCover .videoDialogBtn > button {
  background-color: #FFA726;
}

.deleteVideo {
  margin-left: 5px;
  background-color: #B71C1C;
}

.adminButtons {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.adminButtons img {
  height: 24px;
}

.detailsButton {
  margin-bottom: 1%;
  height: 20px;
  width: 100%;
  background: black;
  opacity: 0.5;
}

.videoPopover{
  bottom: 0;
  width: 100%;
}
