.carouselContainer {
  margin: 10px auto;
  padding: 40px;
  width: 80%;
  color: #333;
  background: red;
}

.slick-slide {
  margin: 0 10px;
  background-color: green;
}

.videoIndex {
  margin: 100px 20px 30px 20px;
}

.videoThumbnail {
  width: 100%;
}

.videoTitle {
  text-align: center;
}
