.carouselContainer {
  margin: 0 auto;
  padding: 0 40px 0 0;
  width: 90%;
}

.videoSubmitBtn{
  width: 100%;
}

.videoCarouselItem {
  padding: 0 10px;
}

.slick-slide{
  transition: all .3s ease-in-out;
}

.slick-slide:hover{
  transform: scale(1.1);
  z-index: 1;
}

.slick-slide:hover .videoHoverCover{
  opacity: 1;
}

.videoHoverCover{
  opacity: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}

.videoIndex {
  margin: 100px 0 50px 0;
}

.videoThumbnail {
  width: 100%;
}

.videoTitle {
  text-align: center;
}
