.carouselContainer {
  margin: 0 auto;
  padding: 0 40px 0 0;
  width: 90%;
}

.videoSubmitBtn{
  width: 100%;
}

.videoCarouselItem {
  padding: 0 10px;
}

.slick-slide{
  transition: all .3s ease-in-out;
}

.slick-slide:hover{
  transform: scale(1.1);
  z-index: 1;
}

.slick-slide:hover .videoHoverCover{
  opacity: 1;
}

.videoHoverCover{
  opacity: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.videoIndex {
  margin: 100px 0 50px 0;
}

.videoThumbnail {
  width: 100%;
}

.videoTitle {
  text-align: center;
}

.videoCarousel {
  margin-left: 20px;
}

.notFound {
  display: block;
  text-align: center;
  margin: 10px;
  padding: 10px;
  background-color: #8c8c8c;
  color: black;
  border-radius: 10px;
}
