.videoTitle {
  margin-top: 10%;
}

.playLink, .playLinkImg {
  width: 64px;
  opacity: 0.8;
  padding-top: 5%;
  margin: 0 auto;
}

.videoHoverCover button {
  cursor: pointer;
  border: 0;
}

.videoHoverCover button:focus {
  outline:0;
}

.detailsButton > img {
  margin: 0 auto;
  transition: all .3s ease-in-out;
}
.videoHoverCover button:hover > img {
  transform: scale(1.2);
  opacity: 1;
}

.videoHoverCover .videoDialogBtn > button {
  background-color: #FFA726;
}

.deleteVideo {
  background-color: #B71C1C;
}

.videoHoverCover > div {
  display: inline-block;
}

.videoHoverCover {
  display: relative;
}

.detailsButton {
  position:absolute;
  left: 0;
  bottom: 20px;
  height: 20px;
  width: 100%;
  background: black;
  opacity: 0.5;
}

.videoPopover{
  bottom: 0;
  width: 100%;
}
